node_modules
.next
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
out
dist
.env
.env*.local
.DS_Store
*.log
.vercel
tsconfig.tsbuildinfo
next-env.d.ts
__pycache__/
*.pyc
.idea/
.vscode/
axe-report.json
axe-artifacts/
